---
layout: default
title: V električke
description: V električke, cyklus obrazov. Cesta električkou, pohľady z okna.
permalink: /sk/malba/v-elektricke/
group: painting-project
parent: painting
lang: sk
language: Slovensky
thumbnail: eva-mikulasova-window-01-2011-ink-on-canvas-40x45cm-tile
order: 2
---
<div class="container-fluid main">

  <div class="row">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="eva-mikulasova-window-01-2011-ink-on-canvas-40x45cm" alt="eva mikulášová okno 01 2011 tuš na plátne 40x45cm" %}
      <p class="mt-1 mb-3">Okno 1, 2011, tuš na plátne, 40x45cm.</p>
    </div>
    <div class="col-xs-6 col-sm-4">
      {% include image50vw.html basename="eva-mikulasova-window-02-2011-ink-on-canvas-45x45cm" alt="eva mikulášová okno 02 2011 tuš na plátne 45x45cm" %}
      <p class="mt-1 mb-3">Okno 2, 2011, tuš na plátne, 45x45cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="eva-mikulasova-window-03-2011-ink-on-canvas-50x50cm" alt="eva mikulášová okno 03 2011 tuš na plátne 50x50cm" %}
      <p class="mt-1 mb-3">Okno 3, 2011, tuš na plátne, 50x50cm.</p>
    </div>
    <div class="col-xs-6 col-sm-4">
      {% include image50vw.html basename="eva-mikulasova-window-04-2011-ink-on-canvas-45x45cm" alt="eva mikulášová okno 04 2011 tuš na plátne 45x45cm" %}
      <p class="mt-1 mb-3">Okno 4, 2011, tuš na plátne, 45x45cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="eva-mikulasova-window-05-2011-ink-on-canvas-40x40cm" alt="eva mikulášová okno 05 2011 tuš na plátne 40x40cm" %}
      <p class="mt-1 mb-3">Okno 5, 2011, tuš na plátne, 40x40cm.</p>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-xs-12 col-sm-8 offset-sm-4">
      <h1 itemprop="name">{{ page.title }}</h1>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col-xs-12 col-sm-8 offset-sm-4">
      <p class="mb-2">V električke, cyklus obrazov. Cesta električkou, pohľady z okna.</p>
    </div>
  </div>

  {% include painting-drawing-tiles.html %}

</div>
