---
layout: default
title: Kresby
description: Výber kresieb z portfólia maliarky Evy Mikulášovej.
permalink: /sk/kresby/
group: work
children: drawing
lang: sk
language: Slovensky
thumbnail: eva-mikulasova-the-eyes-closed-01-2011-ink-on-paper-24x18cm-tile
order: 6
---
<div class="container-fluid main">

  <div class="row">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="eva-mikulasova-the-eyes-closed-01-2011-ink-on-paper-24x18cm" alt="za zavretými očami 1 2011 tuš na papieri 24x18cm" %}
      <p class="mt-1 mb-3">Za zavretými očami 1, 2011, tuš na papieri, 24x18cm.</p>
    </div>
    <div class="col-xs-6 col-sm-4">
      {% include image50vw.html basename="eva-mikulasova-the-eyes-closed-02-2011-ink-on-paper-15x10cm" alt="za zavretými očami 2 2011 tuš na papieri 15x10cm" %}
      <p class="mt-1 mb-3">Za zavretými očami 2, 2011, tuš na papieri, 15x10cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="eva-mikulasova-the-eyes-closed-03-2011-ink-on-paper-15x10cm" alt="za zavretými očami 3 2011 tuš na papieri 15x10cm" %}
      <p class="mt-1 mb-3">Za zavretými očami 3, 2011, tuš na papieri, 15x10cm.</p>
    </div>
    <div class="col-xs-6 col-sm-4">
      {% include image50vw.html basename="eva-mikulasova-the-eyes-closed-04-2011-ink-on-paper-18x13cm" alt="za zavretými očami 4 2011 tuš na papieri 18x13cm" %}
      <p class="mt-1 mb-3">Za zavretými očami 4, 2011, tuš na papieri, 18x13cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2">
      {% include image100vw.html basename="eva-mikulasova-the-eyes-closed-05-2011-ink-on-paper-18x24cm" alt="za zavretými očami 5 2011 tuš na papieri 18x24cm" %}
      <p class="mt-1 mb-3">Za zavretými očami 5, 2011, tuš na papieri, 18x24cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2">
      {% include image100vw.html basename="eva-mikulasova-the-eyes-closed-06-2011-ink-on-paper-18x24cm" alt="za zavretými očami 6 2011 tuš na papieri 18x24cm" %}
      <p class="mt-1 mb-3">Za zavretými očami 6, 2011, tuš na papieri, 18x24cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2">
      {% include image100vw.html basename="eva-mikulasova-the-eyes-closed-07-2011-ink-on-paper-18x24cm" alt="za zavretými očami 7 2011 tuš na papieri 18x24cm" %}
      <p class="mt-1 mb-3">Za zavretými očami 7, 2011, tuš na papieri, 18x24cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="eva-mikulasova-the-eyes-closed-08-2011-ink-on-paper-15x10cm" alt="za zavretými očami 8 2011 tuš na papieri 15x10cm" %}
      <p class="mt-1 mb-3">Za zavretými očami 8, 2011, tuš na papieri, 15x10cm.</p>
    </div>
    <div class="col-xs-6 col-sm-4">
      {% include image50vw.html basename="eva-mikulasova-the-eyes-closed-09-2011-ink-on-paper-18x13cm" alt="za zavretými očami 9 2011 tuš na papieri 18x13cm" %}
      <p class="mt-1 mb-3">Za zavretými očami 9, 2011, tuš na papieri, 18x13cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2">
      {% include image100vw.html basename="eva-mikulasova-the-eyes-closed-10-2011-ink-on-paper-13x18cm" alt="za zavretými očami 10 2011 tuš na papieri 13x18cm" %}
      <p class="mt-1 mb-3">Za zavretými očami 10, 2011, tuš na papieri, 13x18cm.</p>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col-xs-12 col-sm-8 offset-sm-4">
      <h1 itemprop="name">{{ page.title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-4">
      <p class="mb-3">Kresby inšpirované skúsenosťami ticha.</p>
    </div>
  </div>

  {% include work-tiles.html %}

</div>
