<!-- Get values from main index.html file -->
{% assign ind = (site.pages | sort: 'order' | where: 'group' , 'index' | where: 'lang' , page.lang) %}
{% assign index_title = ind[0].title %}
{% assign index_subtitle = ind[0].subtitle %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Description -->
  {% if page.description %}
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ page.description }}{% endif %}">
  {% endif %}

  <!-- Authors -->
  {% if site.author %}
    <meta name="author" content="{{ site.author }}" />
  {% endif %}
  <link type="text/plain" rel="author" href="{{ "/humans.txt" | prepend: site.baseurl | prepend: site.url }}" />

  <!-- Title -->
  {% if index_title %}
    <title>{% if page.group == "index" %}{{ index_title }} - {{ index_subtitle }}{% else %}{{ page.title }} - {{ index_title }}{% endif %}</title>
  {% else %}
    <title>{% if page.group == "index" %}{{ site.title }} - {{ site.subtitle }}{% else %}{{ page.title }} - {{ site.title }}{% endif %}</title>
  {% endif %}

  <!-- Icons -->
  {% include favicon-custom.html %}

  <!-- Canonical -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="{{ "/css/styles.css" | prepend: site.baseurl }}">

</head>
