---
layout: default
title: Domčeky pre zajkov
description: "Ihrisko - domčeky pre zajkov"
permalink: /sk/ihrisko/domceky-pre-zajkov/
group: playground-project
parent: playground
lang: sk
language: Slovensky
thumbnail: playground-rabbit-family-2017-tile
order: 4
---
<div class="container-fluid main">

  <div class="row mb-3">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="playground-rabbit-family-2017-01" alt="ihrisko domčeky pre zajkov 2017" %}
    </div>
    <div class="col-xs-6 col-sm-4">
      {% include image50vw.html basename="playground-rabbit-family-2017-02" alt="ihrisko domčeky pre zajkov 2017" %}
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="playground-rabbit-family-2017-03" alt="ihrisko domčeky pre zajkov 2017" %}
    </div>
    <div class="col-xs-6 col-sm-4">
      {% include image50vw.html basename="playground-rabbit-family-2017-04" alt="ihrisko domčeky pre zajkov 2017" %}
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="playground-rabbit-family-2017-05" alt="ihrisko domčeky pre zajkov 2017" %}
    </div>
    <div class="col-xs-6 col-sm-4">
      {% include image50vw.html basename="playground-rabbit-family-2017-06" alt="ihrisko domčeky pre zajkov 2017" %}
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-xs-12 col-sm-8 offset-sm-4">
      <h1 itemprop="name">{{ page.title }}</h1>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col-xs-12 col-sm-8 offset-sm-4">
      <p class="mb-2">Najprv sme sa rozhodli urobiť domčeky. Hociaké, z toho čo máme - rolky z toaleťáku, hodvábny papier, vianočné lepiace pásky. Ja som oblepila papierom vystrihla strechu, Milotka lepila a zdobila. No Milotka ľúbi zajkov a tak obyvatelia domkov boli jasní. Netrpezlivosť bola veľka, a tak som rýchlo nakreslila vystrihla čo najjednoduchších zajov, M vymaľovala a divadlo mohlo začať.</p>
    </div>
  </div>

  {% include playground-tiles.html %}

</div>
