---
layout: default
title: Ihrisko
description: Ihrisko maliarky Evy Mikulášovej.
permalink: /sk/ihrisko/
group: playground
children: playground-project
lang: sk
language: Slovensky
order: 80
---
<div class="container-fluid main">

  <div class="row">
    <div class="col-xs-12 col-sm-6 offset-sm-3">
      {% include image100-50vw.html basename="playground-dragon" alt="playground dragon" %}
    </div>
  </div>

  <div class="row pt-5">
    <div class="col-xs-12 col-sm-8 offset-sm-4">
      <h1 itemprop="name">{{ page.title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-4">

      <p class="mb-1">Naša staršia dcéra je najšťastnejšia doma. Najmä v upršanom uzimenom počasí to chce nadľudský výkon dostať ju von. Najradšej kreslí a ja jej sem tam nakúkam ponad rameno. Baví ma skúmať jej hotové veci, ktoré mi ukáže. Je fascinujúce vidieť ako z výkresu na výkres pribúdajú detaily, menia sa príbehy, postavy, prostredia. Ako "zabudne" nakresliť päť prstov keď sa tam odohráva niečo iné, strašne dôležité.</p>

      <p class="mb-1">Keď bola menšia, chcela aby som jej kreslila drakov a princezné (ktorými bola ona) ako bojujú s drakmi, kreslili sme výlety, mamku, tatka, vyrobili sme niekoľko variánt medovníkových domčekov a hrali divadlo s babou jagou na paličke. Neskôr sme sa sami premieňali na rohatých okrídlených drakov a lietali po byte skákali zo skál (skríň) a schovávali sa v jaskyniach (pod posteľou). Potom prišlo obdobie písmenok a urobila som jej abecedu veľkých písmen, kde každé písmeno sa podobalo na nejaký predmet. Smiali sme sa, keď ich už vedela prečítať každé samostatne ale spolu jej ešte nedávali zmysel. To bolo keď s veľkou radosťou nám išla prečítať nápis na stoličke a po písmenkách U R B A N víťazoslávne zvolala "Ikea!"</p>

      <p class="mb-1">Dnes je predškoláčka a takmer na každý výkres napíše nejaký popis, alebo odkaz (moje obľúbené sú "mama je nervák" a "mama je najlepšia"). Medzitým nám vyrástla druhá dcéra a po období čiar, čiaročiek, čiar hrubých aj jemných, čiar hustých aj riedkych, dlhých aj krátkych, čiernobielych aj farebných objavila kruh. Pár dní na to pridala do kruhu dva kruhy a štyri čiarky a jej prvý tatov portrét bol na svete.</p>

      <p class="mb-3">Inšpiruje ma ich nakreslený svet, baví ma ho sledovať a snažím sa doň pridávať nové podnety. Je nám spolu dobre keď tvoríme a tak papier je naše ihrisko.</p>

    </div>
  </div>

  {% include playground-tiles.html %}

</div>
