---
layout: default
title: Odtlačky
description: "Ihrisko - odtlačky"
permalink: /sk/ihrisko/odtlacky/
group: playground-project
parent: playground
lang: sk
language: Slovensky
thumbnail: playground-prints-2016-tile
order: 1
---
<div class="container-fluid main">

  <div class="row mb-3">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="playground-prints-2016-01" alt="playground prints 2016" %}
    </div>
    <div class="col-xs-6 col-sm-4">
      {% include image50vw.html basename="playground-prints-2016-02" alt="playground prints 2016" %}
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="playground-prints-2016-03" alt="playground prints 2016" %}
    </div>
    <div class="col-xs-6 col-sm-4">
      {% include image50vw.html basename="playground-prints-2016-04" alt="playground prints 2016" %}
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-xs-12 col-sm-8 offset-sm-4">
      <h1 itemprop="name">{{ page.title }}</h1>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col-xs-12 col-sm-8 offset-sm-4">
      <p class="mb-2">Dávnejšie som robila pohľadnice pre deti v škôlke z ktorej Margarétka odchádzala. Chcela som odtláčať plochy a dokresľovať perom. Pečiatky som si vystrihla z peny a keď ich našla Milotka hneď sme to využili. Bola som zvedavá, či bude mať trpezlivosť (mala vtedy 22 mesiacov) nanášať farbu, pritlačiť, čakať, opatrne odložiť až potom vidieť tvar.</p>
    </div>
  </div>

  {% include playground-tiles.html %}

</div>
