---
layout: default
title: Pierka, plastové očká a plastelína
description: "Ihrisko - pierka, plastové očká a plastelína"
permalink: /sk/ihrisko/pierka-plastove-ocka-plastelina/
group: playground-project
parent: playground
lang: sk
language: Slovensky
thumbnail: playground-feathers-and-eyes-and-dough-2017-tile
order: 5
---
<div class="container-fluid main">

  <div class="row mb-3">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="playground-feathers-and-eyes-and-dough-2017-01" alt="pierka plastové očká plastelína 2017" %}
    </div>
    <div class="col-xs-6 col-sm-4">
      {% include image50vw.html basename="playground-feathers-and-eyes-and-dough-2017-02" alt="pierka plastové očká plastelína 2017" %}
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="playground-feathers-and-eyes-and-dough-2017-03" alt="pierka plastové očká plastelína 2017" %}
    </div>
    <div class="col-xs-6 col-sm-4">
      {% include image50vw.html basename="playground-feathers-and-eyes-and-dough-2017-04" alt="pierka plastové očká plastelína 2017" %}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2">
      {% include image100vw.html basename="playground-feathers-and-eyes-and-dough-2017-05" alt="pierka plastové očká plastelína 2017" %}
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-xs-12 col-sm-8 offset-sm-4">
      <h1 itemprop="name">{{ page.title }}</h1>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col-xs-12 col-sm-8 offset-sm-4">
      <p class="mb-2">Od kamarátky sme dostali pierka a očká a zábava mohla začať. Milotkina najobľúbenejšia činnosť je zoradiť očká do radu, potom do nádobky, potom do misky, vysypať a znovu ukladať. S Margarétkou sme vytiahli plastelínu a myslela som si že vyrobíme vtákov. Nuž ale Margarétka prišla s tým že robí cintorín, čoho sa hneď chytila aj Milotka a tak len strkali pierka do rôznych kopčekov plastelíny.</p>
    </div>
  </div>

  {% include playground-tiles.html %}

</div>
