---
layout: default
title: Zápisník
description: "Ihrisko - zápisník."
permalink: /sk/ihrisko/zapisnik/
group: playground-project
parent: playground
lang: sk
language: Slovensky
thumbnail: playground-workbook-2016-tile
order: 3
---
<div class="container-fluid main">

  <div class="row mb-3">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="playground-workbook-2016-01" alt="playground workbook 2016" %}
    </div>
    <div class="col-xs-6 col-sm-4">
      {% include image50vw.html basename="playground-workbook-2016-02" alt="playground workbook 2016" %}
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="playground-workbook-2016-03" alt="playground workbook 2016" %}
    </div>
    <div class="col-xs-6 col-sm-4">
      {% include image50vw.html basename="playground-workbook-2016-04" alt="playground workbook 2016" %}
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="playground-workbook-2016-05" alt="playground workbook 2016" %}
    </div>
    <div class="col-xs-6 col-sm-4">
      {% include image50vw.html basename="playground-workbook-2016-06" alt="playground workbook 2016" %}
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="playground-workbook-2016-07" alt="playground workbook 2016" %}
    </div>
    <div class="col-xs-6 col-sm-4">
      {% include image50vw.html basename="playground-workbook-2016-08" alt="playground workbook 2016" %}
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-xs-12 col-sm-8 offset-sm-2">
      {% include image100vw.html basename="playground-workbook-2016-09" alt="playground workbook 2016" %}
    </div>
  </div>

  <div class="row pt-3 mb-3">
    <div class="col-xs-12 col-sm-8 offset-sm-4">
      <h1 itemprop="name">{{ page.title }}</h1>
    </div>
  </div>



  {% include playground-tiles.html %}

</div>
