---
layout: default
title: "The altars of today - today's altars"
description: "Reflection on Christianity in Slovak visual arts in the zero years (from 2000 up to now) represents an attempt to search for a meeting point of the two narratives: religious Christian myth and visual arts, focusing on the horizon of the present day and recent past."
permalink: /painting/altars-of-today/
group: project
parent: painting
lang: en
language: English
thumbnail: eva-mikulasova-altars-of-today-01-2012-ink-on-canvas-15x8cm-tile
order: 1
menu_exclude: false
sitemap:
  priority: 1
---
<div class="container-fluid main">

  <div class="row">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-01-2012-ink-on-canvas-15x8cm" alt="altars of today" %}
      <p class="mt-1 mb-3">Altars of today 1, 2012, ink on canvas, 15x8cm.</p>
    </div>
    <div class="col-xs-6 col-sm-4">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-02-2012-ink-on-canvas-15x8cm" alt="altars of today" %}
      <p class="mt-1 mb-3">Altars of today 2, 2012, ink on canvas, 15x8cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-03-2012-ink-on-canvas-15x8cm" alt="altars of today" %}
      <p class="mt-1 mb-3">Altars of today 3, 2012, ink on canvas, 15x8cm.</p>
    </div>
    <div class="col-xs-6 col-sm-4">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-04-2012-ink-on-canvas-15x8cm" alt="altars of today" %}
      <p class="mt-1 mb-3">Altars of today 4, 2012, ink on canvas, 15x8cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-05-2012-ink-on-canvas-15x8cm" alt="altars of today" %}
      <p class="mt-1 mb-3">Altars of today 5, 2012, ink on canvas, 15x8cm.</p>
    </div>
    <div class="col-xs-6 col-sm-4">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-06-2012-ink-on-canvas-15x8cm" alt="altars of today" %}
      <p class="mt-1 mb-3">Altars of today 6, 2012, ink on canvas, 15x8cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-07-2012-ink-on-canvas-15x8cm" alt="altars of today 2012 ink on canvas 15x8cm" %}
      <p class="mt-1 mb-3">Altars of today 7, 2012, ink on canvas, 15x8cm.</p>
    </div>
    <div class="col-xs-6 col-sm-4">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-08-2012-ink-on-canvas-15x8cm" alt="altars of today 2012 ink on canvas 15x8cm" %}
      <p class="mt-1 mb-3">Altars of today 8, 2012, ink on canvas, 15x8cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-09-2012-ink-on-canvas-15x8cm" alt="altars of today 2012 ink on canvas 15x8cm" %}
      <p class="mt-1 mb-3">Altars of today 9, 2012, ink on canvas, 15x8cm.</p>
    </div>
    <div class="col-xs-6 col-sm-3">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-10-2012-ink-on-canvas-10x8cm" alt="altars of today 2012 ink on canvas 10x8cm" %}
      <p class="mt-1 mb-3">Altars of today 10, 2012, ink on canvas, 10x8cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-3 offset-sm-3">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-11-2012-ink-on-canvas-10x8cm" alt="altars of today 2012 ink on canvas 10x8cm" %}
      <p class="mt-1 mb-3">Altars of today 11, 2012, ink on canvas, 10x8cm.</p>
    </div>
    <div class="col-xs-6 col-sm-3">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-12-2012-ink-on-canvas-10x8cm" alt="altars of today 2012 ink on canvas 10x8cm" %}
      <p class="mt-1 mb-3">Altars of today 12, 2012, ink on canvas, 10x8cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-2 offset-sm-4">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-13-2012-ink-on-canvas-8x8cm" alt="altars of today 2012 ink on canvas 8x8cm" %}
      <p class="mt-1 mb-3">Altars of today 13, 2012, ink on canvas, 8x8cm.</p>
    </div>
    <div class="col-xs-6 col-sm-2">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-14-2012-ink-on-canvas-8x8cm" alt="altars of today 2012 ink on canvas 8x8cm" %}
      <p class="mt-1 mb-3">Altars of today 14, 2012, ink on canvas, 8x8cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-2 offset-sm-4">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-15-2012-ink-on-canvas-8x8cm" alt="altars of today 2012 ink on canvas 8x8cm" %}
      <p class="mt-1 mb-3">Altars of today 15, 2012, ink on canvas, 8x8cm.</p>
    </div>
    <div class="col-xs-6 col-sm-4">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-16-2012-ink-on-canvas-15x8cm" alt="altars of today 2012 ink on canvas 15x8cm" %}
      <p class="mt-1 mb-3">Altars of today 16, 2012, ink on canvas, 15x8cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-17-2012-ink-on-canvas-15x8cm" alt="altars of today 2012 ink on canvas 15x8cm" %}
      <p class="mt-1 mb-3">Altars of today 17, 2012, ink on canvas, 15x8cm.</p>
    </div>
    <div class="col-xs-6 col-sm-4">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-18-2012-ink-on-canvas-15x8cm" alt="altars of today 2012 ink on canvas 15x8cm" %}
      <p class="mt-1 mb-3">Altars of today 18, 2012, ink on canvas, 15x8cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-3 offset-sm-3">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-19-2012-ink-on-canvas-10x8cm" alt="altars of today 2012 ink on canvas 10x8cm" %}
      <p class="mt-1 mb-3">Altars of today 19, 2012, ink on canvas, 10x8cm.</p>
    </div>
    <div class="col-xs-6 col-sm-3">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-20-2012-ink-on-canvas-10x8cm" alt="altars of today 2012 ink on canvas 10x8cm" %}
      <p class="mt-1 mb-3">Altars of today 20, 2012, ink on canvas, 10x8cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-2 offset-sm-4">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-21-2012-ink-on-canvas-8x8cm" alt="altars of today 2012 ink on canvas 8x8cm" %}
      <p class="mt-1 mb-3">Altars of today 21, 2012, ink on canvas, 8x8cm.</p>
    </div>
    <div class="col-xs-6 col-sm-2">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-22-2012-ink-on-canvas-8x8cm" alt="altars of today 2012 ink on canvas 8x8cm" %}
      <p class="mt-1 mb-3">Altars of today 22, 2012, ink on canvas, 8x8cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-23-2012-ink-on-canvas-15x8cm" alt="altars of today 2012 ink on canvas 15x8cm" %}
      <p class="mt-1 mb-3">Altars of today 23, 2012, ink on canvas, 15x8cm.</p>
    </div>
    <div class="col-xs-6 col-sm-4">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-24-2012-ink-on-canvas-15x8cm" alt="altars of today 2012 ink on canvas 15x8cm" %}
      <p class="mt-1 mb-3">Altars of today 24, 2012, ink on canvas, 15x8cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-25-2012-ink-on-canvas-15x8cm" alt="altars of today 2012 ink on canvas 15x8cm" %}
      <p class="mt-1 mb-3">Altars of today 25, 2012, ink on canvas, 15x8cm.</p>
    </div>
    <div class="col-xs-6 col-sm-4">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-26-2012-ink-on-canvas-15x8cm" alt="altars of today 2012 ink on canvas 15x8cm" %}
      <p class="mt-1 mb-3">Altars of today 26, 2012, ink on canvas, 15x8cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-27-2012-ink-on-canvas-15x8cm" alt="altars of today 2012 ink on canvas 15x8cm" %}
      <p class="mt-1 mb-3">Altars of today 27, 2012, ink on canvas, 15x8cm.</p>
    </div>
    <div class="col-xs-6 col-sm-4">
      {% include image50vw.html basename="eva-mikulasova-altars-of-today-2012-ink-on-canvas-28-15x8cm" alt="altars of today 2012 ink on canvas 15x8cm" %}
      <p class="mt-1 mb-3">Altars of today 28, 2012, ink on canvas, 15x8cm.</p>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-xs-12 col-sm-8 offset-sm-4">
      <h1 itemprop="name">{{ page.title }}</h1>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col-xs-12 col-sm-8 offset-sm-4">
      <p class="mb-1">Reflection on Christianity in Slovak visual arts in the zero years (from 2000 up to now) represents an attempt to search for a meeting point of the two narratives: religious Christian myth and visual arts, focusing on the horizon of the present day and recent past.</p>
      <p class="mb-1">My altar of today is made ​​up of memories of moments recorded in notepad. It is a shelf where I imposed my rarest, strongest, nicest moments.</p>
      <p class="mb-2">My altar is now my child's playground, a place where we play together, stay together. It is where I hope, ask and believe that I will be a good parent, that I lead my child to be independent, self-esteem and good. There is where I am thankful for every moment spent together.</p>
    </div>
  </div>

  {% include work-tiles.html %}

</div>
