---
layout: default
title: Landscapes
description: Landscapes by Eva Mikulášová, 2007, acryl on canvas.
permalink: /painting/landscapes/
group: painting-project
parent: painting
lang: en
language: English
thumbnail: eva-mikulasova-landscape-01-2007-acryl-on-canvas-140x170cm-tile
order: 5
---
<div class="container-fluid main">

  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2">
      {% include image100vw.html basename="eva-mikulasova-landscape-01-2007-acryl-on-canvas-140x170cm" alt="eva mikulasova landscape 01 2007 acryl on canvas 140x170cm" %}
      <p class="mt-1 mb-3">Landscape 1, 2007, acryl on canvas, 140x170cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="eva-mikulasova-landscape-02-2007-acryl-on-canvas-120x120cm" alt="eva mikulasova landscape 02 2007 acryl on canvas 120x120cm" %}
      <p class="mt-1 mb-3">Landscape 2 2007 acryl on canvas 120x120cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2">
      {% include image100vw.html basename="eva-mikulasova-landscape-03-2007-acryl-on-canvas-140x180cm" alt="eva mikulasova landscape 03 2007 acryl on canvas 140x180cm" %}
      <p class="mt-1 mb-3">Landscape 3, 2007, acryl on canvas, 140x180cm.</p>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-xs-12 col-sm-8 offset-sm-4">
      <h1 itemprop="name">{{ page.title }}</h1>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col-xs-12 col-sm-8 offset-sm-4">
      <p class="mb-2">Landscapes, 2007, acryl on canvas.</p>
    </div>
  </div>

  {% include painting-drawing-tiles.html %}

</div>
