---
layout: default
title: Traces
description: Traces, paintings, acryl on canvas.
permalink: /painting/traces/
group: project
parent: painting
lang: en
language: English
thumbnail: eva-mikulasova-street-2012-acryl-on-canvas-70x70cm-tile
order: 4
---
<div class="container-fluid">

  <div class="row">
    <div class="col-xs-6 col-sm-3 offset-sm-3">
      {% include image50vw.html basename="eva-mikulasova-boat-2012-acryl-on-canvas-70x70cm" alt="eva mikulášová boat 2012 acryl on canvas 70x70cm" %}
      <p class="mt-1 mb-3">Boat, 2012, acryl on canvas, 70x70cm.</p>
    </div>
    <div class="col-xs-6 col-sm-3">
      {% include image50vw.html basename="eva-mikulasova-ceiling-2012-acryl-on-canvas-70x70cm" alt="eva mikulášová ceiling 2012 acryl on canvas 70x70cm" %}
      <p class="mt-1 mb-3">Ceiling, 2012, acryl on canvas, 70x70cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-3 offset-sm-3">
      {% include image50vw.html basename="eva-mikulasova-on-the-sky-2012-acryl-on-canvas-70x70cm" alt="eva mikulášová on the sky 2012 acryl on canvas 70x70cm" %}
      <p class="mt-1 mb-3">On the sky, 2012, acryl on canvas, 70x70cm.</p>
    </div>
    <div class="col-xs-6 col-sm-3">
      {% include image50vw.html basename="eva-mikulasova-street-2012-acryl-on-canvas-70x70cm" alt="eva mikulášová street 2012 acryl on canvas 70x70cm" %}
      <p class="mt-1 mb-3">Street, 2012, acryl on canvas, 70x70cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2">
      {% include image100vw.html basename="eva-mikulasova-trees-2009-acryl-on-canvas-190x190cm-01" alt="eva mikulášová trees 2009 acryl on canvas 190x190cm" %}
      <p class="mt-1 mb-3">Trees, 2009, acryl on canvas, 190x190cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2">
      {% include image100vw.html basename="eva-mikulasova-on-the-snow-2009-acryl-on-canvas-190x190cm-01" alt="eva mikulášová on the snow 2009 acryl on canvas 190x190cm" %}
      <p class="mt-1 mb-3">On the snow, 2009, acryl on canvas, 190x190cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 offset-sm-3">
      {% include image50vw.html basename="eva-mikulasova-on-the-road-2009-acryl-on-canvas-140x170cm" alt="eva mikulášová on the road 2009 acryl on canvas 140x170cm" %}
      <p class="mt-1 mb-3">On the road, 2009, acryl on canvas, 140x170cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 offset-sm-3">
      {% include image50vw.html basename="eva-mikulasova-behind-us-2009-acryl-on-canvas-155x180cm" alt="eva mikulášová behind us 2009 acryl on canvas 155x180cm" %}
      <p class="mt-1 mb-3">Behind us, 2009, acryl on canvas, 155x180cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="eva-mikulasova-hidden-fish-2009-acryl-on-canvas-115x130cm" alt="eva mikulášová hidden fish 2009 acryl on canvas 115x130cm" %}
      <p class="mt-1 mb-3">Hidden fish, 2009, acryl on canvas, 115x130cm.</p>
    </div>
    <div class="col-xs-6 col-sm-4">
      {% include image50vw.html basename="eva-mikulasova-at-the-lake-2009-acryl-on-canvas-120x120cm" alt="eva mikulášová at the lake 2009 acryl on canvas 120x120cm" %}
      <p class="mt-1 mb-3">At the lake, 2009, acryl on canvas, 120x120cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-4 offset-sm-2">
      {% include image50vw.html basename="eva-mikulasova-smoke-2009-acryl-on-canvas-80x110cm" alt="eva mikulášová smoke 2009 acryl on canvas 80x110cm" %}
      <p class="mt-1 mb-3">Smoke, 2009, acryl on canvas, 80x110cm.</p>
    </div>
    <div class="col-xs-6 col-sm-4">
      {% include image50vw.html basename="eva-mikulasova-winter-2008-acryl-on-canvas-80x110cm" alt="eva mikulášová winter 2008 acryl on canvas 80x110cm" %}
      <p class="mt-1 mb-3">Winter, 2008, acryl on canvas, 80x110cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 offset-sm-3">
      {% include image100vw.html basename="eva-mikulasova-under-water-2008-acryl-on-canvas-155x180cm" alt="eva mikulášová under water 2008 acryl on canvas 155x180cm" %}
      <p class="mt-1 mb-3">Under water, 2008, acryl on canvas, 155x180cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 offset-sm-3">
      {% include image100vw.html basename="eva-mikulasova-in-the-grass-2008-acryl-on-canvas-155x180cm" alt="eva mikulášová in the grass 2008 acryl on canvas 155x180cm" %}
      <p class="mt-1 mb-3">In the grass, 2008, acryl on canvas, 155x180cm.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 offset-sm-3">
      {% include image100vw.html basename="eva-mikulasova-bench-2008-acryl-on-canvas-120x140cm" alt="eva mikulášová bench 2008 acryl on canvas 120x140cm" %}
      <p class="mt-1 mb-3">Bench, 2008, acryl on canvas, 120x140cm.</p>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col-xs-12 col-sm-8 offset-sm-4">
      <h1 itemprop="name">{{ page.title }}</h1>
    </div>
  </div>

  <div class="row pb-3">
    <div class="col-xs-12 col-sm-8 offset-sm-4">
      <p class="mb-2">Traces, paintings, 2008 - 2012. acryl on canvas.</p>
    </div>
  </div>

  {% include work-tiles.html %}

</div>
