---
layout: default
title: Playground
description: Playground by Slovak artist Eva Mikulášová.
permalink: /playground/
group: playground
children: playground-project
lang: en
language: English
order: 80
---
<div class="container-fluid main">

  <div class="row">
    <div class="col-xs-12 col-sm-6 offset-sm-3">
      {% include image100-50vw.html basename="playground-dragon" alt="playground dragon" %}
    </div>
  </div>

  <div class="row pt-5">
    <div class="col-xs-12 col-sm-8 offset-sm-4">
      <h1 itemprop="name">{{ page.title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-4">

      <p class="mb-1">Our elder daughter is happiest at home. Especially in the rainy chilled weather it wants superhuman power to get her out. She prefer to draw, and here and there I peer over her shoulder. I enjoy studying her finished art works. It is fascinating to see how the drawing after drawing is increasing with more details, changing stories, more characters, different environments. As she "forgets" to draw five fingers when there is something else going on, terribly important.</p>

      <p class="mb-1">When she was little, I was supposed to draw her dragons and princesses (which she was) fighting with them, we drew our trips, mommy, daddy, we made several variants of Gingerbread House theater and played with wich on a stick. Later we dressed ourselves as the horned and winged dragons flying around the apartment jumped from the rocks (cupboard) and hid in a cave (under the bed). Then came a letters period and I did the alphabet of capital letters, where each letter resembled an object. We laughed when she already knew to read each letter separately but together it still make no sense for her. It was with great joy when she went to read the inscription on the chair and after she spelled U R B A N, she triumphantly exclaimed: "Ikea".</p>

      <p class="mb-1">Now, she is the pre-schooler and almost each her drawing has a description or reference (my favorites are "mama is nail-biter" and "mama is the best"). Meanwhile, our second daughter has grown up and after a period of lines, gross and fine, thick and sparse, long and short, black and white and color lines, circle appeared. A few days later she added into the ring, two rings and four bars and a dad first portrait was there.</p>

      <p class="mb-3">I am inspired by their drawn world, I enjoy it and I try to add them some new impulses. We get along well when we create together, so paper became our playground.</p>

    </div>
  </div>

  {% include playground-tiles.html %}

</div>
