---
layout: compress
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon.png">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ "/css/styles.css" | prepend: site.baseurl }}">
  </head>
  <body class="error">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          {{ content }}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <a href="{{ site.url }}{{ site.baseurl }}">Go to the front page →</a>
        </div>
      </div>
    </div>
  </body>
</html>
